@media (max-width: 1200px) {
  #intro,
  #about,
  #skills,
  #work,
  #contact {
    margin: 50px 60px;
  }

  // nav responsive
  .navList * {
    display: none;
  }

  .dropDown {
    display: block;
    cursor: pointer;
    position: relative;

    .burgerB {
      color: black;
    }

    .list {
      position: absolute;
      transform: translateX(-75%);
      display: flex;
      flex-direction: column;
      width: 150px;
      height: 200px;
      background-color: white;
      padding: 15px;
      border-radius: 8px;
      transition: all 0.2s;

      a {
        text-decoration: none;
        color: black;
        margin-bottom: 8px;
        font-weight: 500;
      }
    }
  }

  #about {
    .main {
      flex-direction: column;
      gap: 50px;

      img {
        margin-top: 40px;
        width: 275px;
        height: 275px;
      }
    }
  }

  
  h1.bye {
    display: none;
  }
}

@media (max-width: 600px) {
  .navBar {
    height: 60px;
  }

  #intro {
    height: 80vh;
    margin: 0 30px 80px 30px;
  }

  #about {
    margin: 0 30px 30px 30px;

    p.who {
      margin: 0;
    }

    .main {
      gap: 25px;

      img {
        margin-top: 20px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
  }

  #skills {
    margin: 0 30px 50px 30px;

    p.why {
      margin-bottom: 8px;
    }
  }

  #work {
    margin: 0 30px 50px 30px;

    p {
      margin-bottom: 8px;
    }
  }

  #contact {
    flex-direction: column;
    padding: 0;
    height: 100vh;
    margin: 60px 30px;

    .text {
      padding: 0;
      text-align: center;
    }

    .btnp {
      padding: 14px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
